.mb-xs-1 {
	margin-bottom: 1rem;
}
.mb-xs-2 {
	margin-bottom: 2rem;
}
.mb-xs-3 {
	margin-bottom: 3rem;
}
.mb-xs-4 {
	margin-bottom: 4rem;
}
.mb-xs-5 {
	margin-bottom: 5rem;
}
.mb-xs-6 {
	margin-bottom: 6rem;
}
.mb-xs-7 {
	margin-bottom: 7rem;
}
.mb-xs-8 {
	margin-bottom: 8rem;
}
.mb-xs-9 {
	margin-bottom: 9rem;
}
.mb-xs-10 {
	margin-bottom: 10rem;
}
.mb-xs-11 {
	margin-bottom: 11rem;
}
.mb-xs-12 {
	margin-bottom: 12rem;
}
.mb-xs-13 {
	margin-bottom: 13rem;
}
.mb-xs-14 {
	margin-bottom: 14rem;
}
.mb-xs-15 {
	margin-bottom: 15rem;
}
.mb-xs-16 {
	margin-bottom: 16rem;
}
.mb-xs-17 {
	margin-bottom: 17rem;
}
.mb-xs-18 {
	margin-bottom: 18rem;
}
.mb-xs-19 {
	margin-bottom: 19rem;
}
.mb-xs-20 {
	margin-bottom: 20rem;
}
@media screen and (min-width: 768px){
	.mb-sm-0 {
		margin-bottom: 0rem;
	}
	.mb-sm-1 {
		margin-bottom: 1rem;
	}
	.mb-sm-2 {
		margin-bottom: 2rem;
	}
	.mb-sm-3 {
		margin-bottom: 3rem;
	}
	.mb-sm-4 {
		margin-bottom: 4rem;
	}
	.mb-sm-5 {
		margin-bottom: 5rem;
	}
	.mb-sm-6 {
		margin-bottom: 5rem;
	}
	.mb-sm-7 {
		margin-bottom: 7rem;
	}
	.mb-sm-8 {
		margin-bottom: 8rem;
	}
	.mb-sm-9 {
		margin-bottom: 9rem;
	}
	.mb-sm-10 {
		margin-bottom: 10rem;
	}
	.mb-sm-11 {
		margin-bottom: 11rem;
	}
	.mb-sm-12 {
		margin-bottom: 12rem;
	}
	.mb-sm-13 {
		margin-bottom: 13rem;
	}
	.mb-sm-14 {
		margin-bottom: 14rem;
	}
	.mb-sm-15 {
		margin-bottom: 15rem;
	}
	.mb-sm-16 {
		margin-bottom: 16rem;
	}
	.mb-sm-17 {
		margin-bottom: 17rem;
	}
	.mb-sm-18 {
		margin-bottom: 18rem;
	}
	.mb-sm-19 {
		margin-bottom: 19rem;
	}
	.mb-sm-20 {
		margin-bottom: 20rem;
	}		
}
@media screen and (min-width: 992px){
	.mb-md-0 {
		margin-bottom: 0rem;
	}
	.mb-md-1 {
		margin-bottom: 1rem;
	}
	.mb-md-3 {
		margin-bottom: 3rem;
	}
	.mb-md-2 {
		margin-bottom: 2rem;
	}
	.mb-md-4 {
		margin-bottom: 4rem;
	}
	.mb-md-5 {
		margin-bottom: 5rem;
	}
	.mb-md-6 {
		margin-bottom: 6rem;
	}
	.mb-md-7 {
		margin-bottom: 7rem;
	}
	.mb-md-8 {
		margin-bottom: 8rem;
	}
	.mb-md-9 {
		margin-bottom: 9rem;
	}
	.mb-md-10 {
		margin-bottom: 10rem;
	}
	.mb-md-11 {
		margin-bottom: 11rem;
	}
	.mb-md-12 {
		margin-bottom: 12rem;
	}
	.mb-md-13 {
		margin-bottom: 13rem;
	}
	.mb-md-14 {
		margin-bottom: 14rem;
	}
	.mb-md-15 {
		margin-bottom: 15rem;
	}
	.mb-md-16 {
		margin-bottom: 16rem;
	}
	.mb-md-17 {
		margin-bottom: 17rem;
	}
	.mb-md-18 {
		margin-bottom: 18rem;
	}
	.mb-md-19 {
		margin-bottom: 19rem;
	}
	.mb-md-20 {
		margin-bottom: 20rem;
	}		
}
@media screen and (min-width: 1200px){
	.mb-lg-0 {
		margin-bottom: 0rem;
	}
	.mb-lg-1 {
		margin-bottom: 1rem;
	}
	.mb-lg-2 {
		margin-bottom: 2rem;
	}
	.mb-lg-3 {
		margin-bottom: 3rem;
	}
	.mb-lg-4 {
		margin-bottom: 4rem;
	}
	.mb-lg-5 {
		margin-bottom: 4rem;
	}
	.mb-lg-6 {
		margin-bottom: 6rem;
	}
	.mb-lg-7 {
		margin-bottom: 7rem;
	}	
	.mb-lg-8 {
		margin-bottom: 8rem;
	}
	.mb-lg-9 {
		margin-bottom: 9rem;
	}
	.mb-lg-10 {
		margin-bottom: 10rem;
	}
	.mb-lg-11 {
		margin-bottom: 11rem;
	}
	.mb-lg-12 {
		margin-bottom: 12rem;
	}
	.mb-lg-13 {
		margin-bottom: 13rem;
	}
	.mb-lg-14 {
		margin-bottom: 14rem;
	}
	.mb-lg-15 {
		margin-bottom: 15rem;
	}
	.mb-lg-16 {
		margin-bottom: 16rem;
	}
	.mb-lg-17 {
		margin-bottom: 17rem;
	}
	.mb-lg-18 {
		margin-bottom: 18rem;
	}
	.mb-lg-19 {
		margin-bottom: 19rem;
	}
	.mb-lg-20 {
		margin-bottom: 20rem;
	}	
}


